# DEPENDENCIAS

node_modules/
frontend/node_modules/
backend/node_modules/


# BUILD DE NEXT.JS

.next/
frontend/.next/


# VARIABLES DE ENTORNO

.env
.env.local
frontend/.env.local
backend/.env


# ARCHIVOS DE LOG

*.log